h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 45px;
    margin-bottom: 45px;
}


.logo {
    justify-content: center;
    text-align: center;
}

.descripcion {
    margin-right: 250px;
    margin-left: 250px;
}

.botonabout {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
    border-radius: 5px;
}

.about-button:hover {
    background-color: #45a049;
}