:root {
    background-color: #82A0BC;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 45px;
    margin-bottom: 45px;
    color: white;
}


#logo {
    justify-content: center;
    text-align: center;
    fill:none;
}

#descripcionempresa{
    margin-right: 250px;
    margin-left: 250px;
    color: white;
    font-size: 18px;
    margin-bottom: 186px;
}
#descripcion p{
    margin-right: 250px;
    margin-left: 250px;
    color: white;
    font-size: 18px;
}
#descripcion h3{
    margin-right: 250px;
    margin-left: 250px;
    color: white;
    font-size: 24px;
}
#descripcion h2{
    margin-right: 250px;
    margin-left: 250px;
    color: white;
    font-size: 32px;
}

#formulario{
    margin-right: 250px;
    margin-left: 250px;
    margin-top: 150px;
    margin-bottom: 164px;
    color: white;
    font-size: 24px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
  }

  nav a {
    text-decoration: none;
    color: white;
  }

  nav a:hover {
    text-decoration: underline;
  }

  .content {
    padding: 20px;
    animation: fadeIn 1s ease-in-out;
  }
  
  .content h1 {
    margin-bottom: 10px;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }