:root {
    background-color: #ffffff;
}

.boton-desplegable {
    position: sticky;
    width: 7em;
    height: 1em;
    top: 0%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: 2px solid white;
    cursor: pointer;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.opciones {
    display: none;
    position: relative;
    top: 50%;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.boton-desplegable:hover .opciones {
    display: flex;
    width: 15em;
    position: inherit;
    top: 5.0%;
    padding: 10px;
}

.navbaropciones {
  position: relative;
  top: 100%;
  width: 100%;
}

#es {
    background-color: #333;
    color: white;
    border: 2px solid white;
    padding: 0.5rem;
    margin: 0.5rem;
}

#ca {
    background-color: #333;
    color: white;
    border: 2px solid white;
    padding: 0.5rem;
    margin: 0.5rem;
}

#en {
    background-color: #333;
    color: white;
    border: 2px solid white;
    padding: 0.5rem;
    margin: 0.5rem;
}

#español:hover {
    color: #82a0bc;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    transition: 0.5s;
}

#catalan:hover {
    color: #82a0bc;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    transition: 0.5s;
}

#ingles:hover {
    color: #82a0bc;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    transition: 0.5s;
}

.fotosrestaurante {
    display: flex;
    justify-content: space-around;
}

h1 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 45rem;
    color: white;
}

nav {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
}

nav a {
    display: block;
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

.content {
    padding: 1.5rem;
    animation: fadeIn 1s ease-in-out;
}
.fondo_naranja{
    background-color: orange;
}

.content h1 {
    margin-bottom: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (min-width: 1000px) {
    #hamburguesa {
        display: none;
    }
}


main {
    background-image: url("../img/fondo_index.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    animation: fadeIn 1s ease-in-out;
    padding-bottom: 5em;
}

#descripcion p {
    margin-right: 10em;
    margin-left: 10em;
    color: white;
    font-size: 1.5rem;
}

#descripcion h3 {
    margin-right: 10em;
    margin-left: 7.3em;
    color: white;
    font-size: 2rem;
}
#descripcion h2 {
    margin-right: 10em;
    margin-left: 7.3em;
    color: white;
    font-size: 2rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.menu:hover .navbaropciones {
    display: block;
}

@media screen and (max-width: 1000px) {
    .menu {
        display: block;
    }
    .navbaropciones {
        display: none;
        top: 100%;
        left: 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 2;
    }

    .menu:hover .navbaropciones {
        display: block;
    }
}