body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background-image: url("https://www.antiguarestaurante.com/es/media/90044b3ac9/90044b3aca8bd17ee2f2de11d08274c5.cms.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.tupedido button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 0;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
    width: 33em;
    height: 2em;
    padding: 0;
    text-align: center;
}

.container {
    max-width: 50em;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

.cart-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.cart {
    flex: 1;
    margin-right: 20px;
}

.product-name {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    transition: all 0.3s ease;
}

.product-name:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.total {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 180;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.total:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.login-link {
    font-size: 1rem;
    color: #555;
    margin-top: 10px;
}

.blue {
    color: blue;
    cursor: pointer;
}

.payment-options {
    margin-top: 0px;
    display: flex;
    display: inline-block;
}

.payment-options button {
    margin-top: 30px;
    margin-right: 30px;
    background-color: #4caf50;
    color: white;
    border: none;
    width: 100px;
    height: 60px;
    border-radius: 5px;
    cursor: pointer;
}

.payment-options button:hover {
    background-color: #45a049;
}

.or {
    margin-left: 220px;
    margin-top: 10px;
    clear: both;
}

.payment {
    margin-top: 10px;
}

.payment button {
    margin-right: 8px;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 27.7em;
}

.payment button:hover {
    background-color: #45a049;
}

.editar {
    margin-top: 100px;
    align-self: flex-end;
}

.editar button {
    margin-right: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 327px;
    height: 100px;
}

.editar button:hover {
    background-color: #b0b1b0;
}


.informacion {
    display: block;
    margin-right: 30px;
}
.nombre {
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: left;
    display: block;
}

.numero {
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: left;
    display: block;
}

.imprimir {
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: left;
    display: block;
}

.escanear {
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: left;
    display: block;
}

.moneda {
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: left;
    display: block;}

.nombre button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 13px;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 180px;
    height: 30px;
}

.nombre button:hover {
    background-color: #b0b1b0;
}

.numero button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 13px;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 180px;
    height: 30px;
}

.numero button:hover {
    background-color: #b0b1b0;
}

.imprimir button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 13px;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 180px;
    height: 30px;
}

.imprimir button:hover {
    background-color: #b0b1b0;
}
.escanear button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 13px;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 180px;
    height: 30px;
}

.moneda button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 13px;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 180px;
    height: 30px;
}

.moneda button:hover {
    background-color: #b0b1b0;
}



.confirmar {
    margin-top: 100px;
    display: flex;
    border-radius: 10px;
}

.confirmar button {
    margin-right: 10px;
    background-color: #ffff00;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 450px;
    height: 170px;
}

.confirmar button:hover {
    background-color: #ddf0a9;
}

.editar-y-confirmar {
    display: flex;
}

.general1 {
    display: flex;
}
