:root {
    --color-1: #545e75;
    --color-2: #63adf2;
    --color-3: #a7cced;
    --color-4: #304d6d;
    --color-5: #82a0bc;
}


body {
    background-image: url("../img/madera.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    animation: fadeIn 1s ease-in-out;
}


#logo{
    text-align: right;
    width: 10em;
    height: 8em;
}

.inicio{
    width: 100%;
    background-color: var(--color-4);
    display: flex;
    flex-direction: row;
}

#inicio{
    font-family: 'Montserrat';
    font-size: 5rem;
    text-align: center;
    width: 40%;
    color: #000000; 
    margin-bottom: 5px; 
    text-transform: uppercase; 
    padding: 1%;
    align-self: center;
    flex-grow: 3;
}

.boton{
    font-family: 'Montserrat';
    font-size: 2rem;
    text-transform: uppercase; 
    background-color: 2px solid #fff;
    border-radius: 10px;
    padding: 5px; 
    appearance: none;
    flex-grow: 1;
    width: 80px;
    height: 20%;
    align-self: center;
    margin-right: 10px;
}

.boton:hover{
    background-color: yellow;
    color: #000000;
}

/* barra de navegacion */
.navbaropciones {
    position: relative;
    top: 100%;
    width: 100%;
  }
  
nav {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
    z-index: 1;
}

nav a {
    display: block;
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

.content {
    padding: 1.5em;
    animation: fadeIn 1s ease-in-out;
}
 
.titulo{
    font-family: 'Montserrat';
    font-size: 2rem;
    color: #000000; 
    position: absolute;
    top: 9%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: left;
        
}
.ordered-list{
    float: right; 
    margin-left: 20px; 
    font-family: 'Montserrat';
    font-size: 2rem;
}

.container{
    display: flex;
    padding-left: 6rem;
    grid-gap: 5rem;
    flex-wrap: wrap;
    
}

img{
    height: 16em;
    width: 19em;
    object-fit: cover;
    border-radius: 10px; 
    float: left;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    width: 35em;
    height: 23em; 
    border-radius: 10px; 
    padding: 3px; 
    cursor:cell;
}

.box:hover {
    background-color: #f9ff40; 
}

.box1{
    background: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(10px); 
    margin: 1em;
    justify-content: space-evenly;
    
}
.box2{
    background: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(10px); 
    margin: 1em;
    justify-content: space-evenly;
    
}
.box3{
    background: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(10px); 
    margin: 1em;
    justify-content: space-evenly;
    
}
.box4{
    background: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(10px); 
    margin: 1em;
    justify-content: space-evenly;
    
}
.box5{
    background: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(10px); 
    margin: 1em;
    justify-content: space-evenly;
    
}
.box6{
    background: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(10px); 
    margin: 1em;
    justify-content: space-evenly;
    
}
.box7{
    background: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(10px); 
    margin: 1em;
    justify-content: space-evenly;
    
}
.box8{
    background: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(10px); 
    margin: 1em;
    justify-content: space-evenly;
    
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    justify-content: center;
    
    padding: 1em;
    bottom: 0;
    width: 100%;
}

